# Default ignored files
/deploymentTargetDropDown.xml
/deployment.xml
/discord.xml
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
